/* Basscss Base Buttons */

button,
.button {
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $bold-font-weight;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    line-height: $button-line-height;
    padding: $button-padding-y $button-padding-x;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button:hover {
  text-decoration: none;
}

.button.default {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #fafafa;
    border-radius: 0.1875em;
    border: 1px solid #f3f3f3;
    color: #333333;
    padding: 1em 1.5em;
    display: inline-block;

    i {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: -webkit-transform .5s;
        transition: transform .5s;
    }

    &:hover {
        background: #fff;
        color: #477dca;
        i {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    &.bold {
        font-weight: bold;
    }

    &.disabled {
        opacity: 0.5;
        background: #fafafa;
        color: #333333;
        i {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: -webkit-transform .5s;
            transition: transform .5s;
        }
    }
}


.button.blue {
    background-color: #477dca;
    color: #fff;
}
