{% if site.browsersniffer_enabled %}
    <script type="text/javascript" src='{{ "/js/browsersniffer.js" | prepend: site.baseurl }}'></script>

    <script>
        var browserSnifferData = window.browsersniffer.detect();
        if (browserSnifferData.timing) {
            if (browserSnifferData.timing.hasOwnProperty('domLoading')) {
                _gaq.push(['_setCustomVar', 1, 'domLoading', browserSnifferData.timing.domLoading.toString()]);
            }
        }

    </script>
{% endif %}

<script>
    console.log("%c%s",
        "color: red; font-size: 24px;",
        "WARNING! Don't try to hack my Blog :)");
</script>
