{% if site.browsersniffer_enabled %}
    <script type="text/javascript" src='{{ "/js/browsersniffer.js" | prepend: site.baseurl }}'></script>

    <script>
        var browserSnifferData = window.browsersniffer.detect();
        if (browserSnifferData.timing) {
            if (browserSnifferData.timing.hasOwnProperty('domComplete')) {
                _gaq.push(['_trackEvent', 'domComplete', browserSnifferData.timing.domComplete.toString()]);
            }

            if (browserSnifferData.hasOwnProperty('javaEnabled')) {
                _gaq.push(['_trackEvent', 'javaEnabled', browserSnifferData.javaEnabled.toString()]);
            }

            if (browserSnifferData.hasOwnProperty('maxTouchPoints')) {
                _gaq.push(['_trackEvent', 'maxTouchPoints', browserSnifferData.maxTouchPoints.toString()]);
            }
        }

    </script>
{% endif %}
