
.posts {
    margin: 0;
}

.posts .post {
    margin-bottom: 0.75em;
    border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
    border-bottom: none;
    margin-bottom: .375em;
    padding-bottom: 0;
}


.post-link {
    .post-title, .read-more {
        margin-top: 0;
        font-weight: 600;
        color: #333;
    }

    .read-more {
        float: right;
    }
}

.post-footer {
    @extend .italic;

    margin-top: .75rem;
    text-align: center;
}

.post-footer .avatar {
    margin: 2rem 0;
    width: 100px;
    border-radius: 50%;
}

.meta,
.post-meta {
    width: auto;
    font-weight: 300;
    margin: 0;
    padding: .25em 0;
    color: #7a7a7a;
    font-style: italic;
}

.related-post-title {
    border-bottom: thin solid #f3f3f3;
}

.video-container {
    display: block;
    text-align: center;
    position: relative;
}
.fa-youtube:before {
    position: absolute;
    right: 10px;
    font-size: 45px;
    color: #DC2725;
    top: 10px;
}

.post-image {
    width: 250px;
    margin: 0 auto;
}

iframe {
    width: 300px;
    height: 225px;
}

.share-page {
    font-weight: bold;
    text-align: center;

    .share-links {
        a {
            font-size: 1.8rem;
            padding: 10px;
            color: #333;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        .fa-twitter {
            color: #7ac9ed;
        }
        .fa-facebook {
            color: #3b5998;
        }
        .fa-google-plus {
            color: #d74d2f;
        }
        .fa-reddit {
            color: #a181a7;
        }
        .fa-linkedin {
            color: #0076B4;
        }
        .fa-tumblr {
            color: #32455E;
        }
    }
}
